<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <h1>Acknowledgements</h1>
<body>
    <h2>Online Resources</h2>
    <ul>
    <li>Wisconsin Department of Health Services</li>
    <li>State of Wisconsin Open Data Portal</li>
    </ul>
    <h2>Original Plot</h2>
    <p><img src="infected.png" width=600></p>
    <h3>Description</h3>
    <p> This plot compares the 20 counties with the highest number of positive cases 
        of Covid-19. The percentage of positive cases out of all of the tested patients 
        is shown, as well as the percentage of deaths out of those positive cases, comparing the rate of 
        infection across counties in Wisconsin. Populated counties, such as Milwaukee and Dane, show 
        different trends, as Milwaukee has a 12.4% difference between infection and deaths, while Dane only 
        has a 0.6% difference. This suggests a difference in practices dealing with limiting the disease, as 
        Dane has 13.8% lower infection rate than Milwaukee. </p>
    <h3>Peer Feedback</h3>
    <ul>
        <li>Scatter plot is unintuitive</li>
        <li>Two percentages calculated on different samples</li>
        <li>Relationship of proportion more useful</li>
        <li>Stacked bar plot more suitable</li>
    </ul>
    <p>Thank you Kathy and Ruofan for your suggestions!</p>
    <h2>Updated Plot</h2>
</body>
</html>
