<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <h1>Acknowledgements</h1>
<body>
    <h2>Online Resources</h2>
    <ul>
    <li>Wisconsin Department of Health Services</li>
    <li>State of Wisconsin Open Data Portal</li>
    </ul>
    <h2>Original Plot</h2>
    <p><img src="infected.png" width=600></p>
    <h3>Description</h3>
    <h3>Peer Feedback</h3>
    <h2>Updated Plot</h2>
</body>
</html>
