<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <h1>Data</h1>
    <p>We compiled multiple data sets into one cumulative csv file that maps all of the counties in Wisconsin to different
       statistics and information regarding Covid-19. This data set can be found in final.zip titled as 'final_data.csv'.
    </p>
    <h2>Final_Data Columns Explained</h2>
    <ul>
        <li> Positive, Negative, Deaths </li>
        <p> Positive and negative add up to the total tests column, the amount of tests that either turned up positive or negative.
            Deaths is as it sounds, but is a subsection of the positive tests, and not it's own count.</p>
        <li> Total Tests </li>
        <p> Positive + negative tests. </p>
        <li> Percent Positive </li>
        <p> Percent of all administered tests that turned up positive ie) positive/total tests </p>
        <li> Percent Deaths </li>
        <p> Percent of all positive tests that resulted in deaths ie) positive/deaths </p>
        <li> Geometry </li>
        <p> Used to create maps of the county boundaries </p>
        <li> Population </li>
        <p> Population of each county </p>
        <li> Percent pop pos </li>
        <p> Percentage of the total population that has been infected ie) positive/population </p>
        <li> Percent pop tested </li>
        <p> Percentage of the total population that has been tested ie) total tests/population </p>
        <li> Percent pop dead </li>
        <p> Percentage of the total population who has died ie) population/deaths </p>
    </ul>
<body>
    
</body>
</html>
