<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Covid-19 Spread Within Wisconsin</h1>
    <br>
    <h2>Team</h2>
    <p>Gunnar Schmitz - goschmitz@wisc.edu</p>
    <p>Emma Brostrom - ebrostrom@wisc.edu</p>
    <p>Noah Hansen - nphansen@wisc.edu</p>
    <br>
        <li><a href="/data"> Data </a></li>
        <li><a href="/results"> Results </a> </li>
        <li><a href="/acks"> Acknowledgements </a> </li>
     <br>
</body>
</html>